<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>

<h2>Home</h2>

<table>
    <tr>
        <th>Links</th>
    </tr>

    <tr>
        <td><a href="/shiftCipher">shift cipher</a> </td>
    </tr>
    <tr>
        <td><a href="/simpleXor">simple xor</a> </td>
    </tr>

</table>

</body>
</html>